body {
  font-family: Urbanist;
}
.display-1 {
  font-family: 'Urbanist', sans-serif;
  font-size: 3.5rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 4.375rem;
}
.display-2 {
  font-family: 'Urbanist', sans-serif;
  font-size: 2.5rem;
  line-height: 1.24;
}
.display-2 > .mbr-iconfont {
  font-size: 3.125rem;
}
.display-4 {
  font-family: 'Urbanist', sans-serif;
  font-size: 1.125rem;
  line-height: 1.63;
}
.display-4 > .mbr-iconfont {
  font-size: 1.40625rem;
}
.display-5 {
  font-family: 'Urbanist', sans-serif;
  font-size: 1.5rem;
  line-height: 1.28;
}
.display-5 > .mbr-iconfont {
  font-size: 1.875rem;
}
.display-7 {
  font-family: 'Urbanist', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 2.8rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.45rem;
    font-size: calc( 1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.9rem;
    font-size: calc( 1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #0057fc !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #b4b8ff !important;
}
.bg-warning {
  background-color: #ffdd0f !important;
}
.bg-danger {
  background-color: #a28b00 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #0057fc !important;
  border-color: #0057fc !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #0039a5 !important;
  border-color: #0039a5 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0039a5 !important;
  border-color: #0039a5 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff1f25 !important;
  border-color: #ff1f25 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #c70005 !important;
  border-color: #c70005 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #c70005 !important;
  border-color: #c70005 !important;
}
.btn-info,
.btn-info:active {
  background-color: #b4b8ff !important;
  border-color: #b4b8ff !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #5d66ff !important;
  border-color: #5d66ff !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #5d66ff !important;
  border-color: #5d66ff !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffdd0f !important;
  border-color: #ffdd0f !important;
  color: #0f0d00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #b79d00 !important;
  border-color: #b79d00 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #0f0d00 !important;
  background-color: #b79d00 !important;
  border-color: #b79d00 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #a28b00 !important;
  border-color: #a28b00 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #4b4100 !important;
  border-color: #4b4100 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #4b4100 !important;
  border-color: #4b4100 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #111111 !important;
  border-color: #111111 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #0057fc;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #0039a5 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #0057fc !important;
  border-color: #0057fc !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff1f25;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #c70005 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff1f25 !important;
  border-color: #ff1f25 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #b4b8ff;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #5d66ff !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #b4b8ff !important;
  border-color: #b4b8ff !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffdd0f;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #b79d00 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #0f0d00 !important;
  background-color: #ffdd0f !important;
  border-color: #ffdd0f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #a28b00;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #4b4100 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #a28b00 !important;
  border-color: #a28b00 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #111111;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #111111 !important;
  border-color: #111111 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #0057fc !important;
}
.text-secondary {
  color: #ff1f25 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #b4b8ff !important;
}
.text-warning {
  color: #ffdd0f !important;
}
.text-danger {
  color: #a28b00 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #111111 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #003496 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #b80005 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #4e57ff !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #a89000 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #3c3300 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #0057fc;
}
.nav-tabs .nav-link:not(.active) {
  color: #111111;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #b4b8ff;
}
.alert-warning {
  background-color: #ffdd0f;
}
.alert-danger {
  background-color: #a28b00;
}
.mbr-gallery-filter li.active .btn {
  background-color: #0057fc;
  border-color: #0057fc;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #0057fc;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #c9dcff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fffadb;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffe022;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Urbanist', sans-serif;
  font-size: 1.125rem;
  line-height: 1.63;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.40625rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #0057fc !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Urbanist', sans-serif;
  font-size: 1.125rem;
  line-height: 1.63;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.40625rem;
}
blockquote {
  border-color: #0057fc;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #0057fc;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #0057fc;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #0057fc;
  border-bottom-color: #0057fc;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #0057fc !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ff1f25 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%230057fc' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.container {
  max-width: 1200px;
}
.btn {
  box-shadow: none;
  padding: 14px 28px;
  line-height: 1;
}
.label-text {
  letter-spacing: 2px;
}
.cid-sPTSDEGlwa .navbar-dropdown {
  position: relative !important;
}
.cid-sPTSDEGlwa .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sPTSDEGlwa .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sPTSDEGlwa .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sPTSDEGlwa .dropdown-item:hover,
.cid-sPTSDEGlwa .dropdown-item:focus {
  background: #0057fc !important;
  color: white !important;
}
.cid-sPTSDEGlwa .dropdown-item:hover span {
  color: white;
}
.cid-sPTSDEGlwa .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sPTSDEGlwa .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sPTSDEGlwa .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sPTSDEGlwa .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sPTSDEGlwa .nav-link {
  position: relative;
}
.cid-sPTSDEGlwa .container {
  display: flex;
  margin: auto;
}
.cid-sPTSDEGlwa .iconfont-wrapper {
  color: #0057fc !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sPTSDEGlwa .dropdown-menu,
.cid-sPTSDEGlwa .navbar.opened {
  background: #ffffff !important;
}
.cid-sPTSDEGlwa .nav-item:focus,
.cid-sPTSDEGlwa .nav-link:focus {
  outline: none;
}
.cid-sPTSDEGlwa .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sPTSDEGlwa .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sPTSDEGlwa .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sPTSDEGlwa .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sPTSDEGlwa .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sPTSDEGlwa .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sPTSDEGlwa .container-fluid {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-sPTSDEGlwa .container-fluid {
    justify-content: flex-start;
  }
}
@media (min-width: 992px) {
  .cid-sPTSDEGlwa .container-fluid {
    flex-wrap: nowrap;
  }
}
.cid-sPTSDEGlwa .navbar {
  min-height: 100px;
  transition: all 0.3s;
  border-bottom: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
  box-shadow: none;
  padding: 0 12px !important;
}
.cid-sPTSDEGlwa .navbar.opened {
  transition: all 0.3s;
}
.cid-sPTSDEGlwa .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sPTSDEGlwa .navbar .navbar-logo img {
  width: auto;
}
.cid-sPTSDEGlwa .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
@media (max-width: 991px) {
  .cid-sPTSDEGlwa .navbar .navbar-collapse {
    order: 10;
  }
}
@media (min-width: 992px) {
  .cid-sPTSDEGlwa .navbar .navbar-collapse {
    width: 60%;
  }
}
.cid-sPTSDEGlwa .navbar.collapsed {
  justify-content: center;
}
.cid-sPTSDEGlwa .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sPTSDEGlwa .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-sPTSDEGlwa .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sPTSDEGlwa .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sPTSDEGlwa .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sPTSDEGlwa .navbar.collapsed ul.navbar-nav li {
  margin: auto;
  font-weight: 500;
}
.cid-sPTSDEGlwa .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sPTSDEGlwa .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sPTSDEGlwa .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sPTSDEGlwa .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sPTSDEGlwa .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sPTSDEGlwa .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sPTSDEGlwa .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sPTSDEGlwa .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sPTSDEGlwa .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sPTSDEGlwa .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sPTSDEGlwa .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sPTSDEGlwa .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sPTSDEGlwa .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sPTSDEGlwa .navbar.navbar-short {
  min-height: 60px;
}
.cid-sPTSDEGlwa .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sPTSDEGlwa .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
@media (min-width: 768px) {
  .cid-sPTSDEGlwa .navbar {
    padding: 0 28px !important;
  }
}
@media (min-width: 1200px) {
  .cid-sPTSDEGlwa .navbar {
    padding: 0 50px !important;
  }
}
.cid-sPTSDEGlwa .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 30px !important;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
@media (min-width: 992px) {
  .cid-sPTSDEGlwa .navbar-brand {
    width: 20%;
    padding: 10px 0 !important;
  }
}
.cid-sPTSDEGlwa .navbar-brand .navbar-caption {
  line-height: inherit !important;
  display: flex;
}
.cid-sPTSDEGlwa .navbar-brand .navbar-caption .iconfont-wrapper {
  padding: 0;
}
.cid-sPTSDEGlwa .navbar-brand .navbar-caption .mbr-iconfont {
  order: 2;
  padding-left: 5px;
  transform: rotate(45deg);
}
.cid-sPTSDEGlwa .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sPTSDEGlwa .dropdown-item.active,
.cid-sPTSDEGlwa .dropdown-item:active {
  background-color: transparent;
}
.cid-sPTSDEGlwa .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sPTSDEGlwa .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sPTSDEGlwa .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sPTSDEGlwa .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-sPTSDEGlwa .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sPTSDEGlwa .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sPTSDEGlwa ul.navbar-nav {
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  .cid-sPTSDEGlwa ul.navbar-nav {
    margin: 0 auto;
  }
}
.cid-sPTSDEGlwa .navbar-buttons {
  text-align: center;
  margin-left: auto;
  margin-right: -0.6rem;
}
@media (min-width: 992px) {
  .cid-sPTSDEGlwa .navbar-buttons {
    text-align: right;
    width: 20%;
    flex-shrink: 0;
  }
}
.cid-sPTSDEGlwa .navbar-buttons .btn {
  box-shadow: none;
  padding: 11px 32px !important;
}
.cid-sPTSDEGlwa button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 14px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
  margin: 10px 0;
}
.cid-sPTSDEGlwa button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 3px;
  border-right: 5px;
  background-color: #000000;
}
.cid-sPTSDEGlwa button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sPTSDEGlwa button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
  display: none;
}
.cid-sPTSDEGlwa button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
  display: none;
}
.cid-sPTSDEGlwa button.navbar-toggler .hamburger span:nth-child(4) {
  top: 11px;
  left: 0;
  width: 20px;
  transition: all 0.2s;
}
.cid-sPTSDEGlwa nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sPTSDEGlwa nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
  display: block;
}
.cid-sPTSDEGlwa nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
  display: block;
}
.cid-sPTSDEGlwa nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sPTSDEGlwa .navbar-dropdown {
  padding: 0 1rem;
}
.cid-sPTSDEGlwa a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sPTSDEGlwa .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sPTSDEGlwa .navbar {
    height: 100px;
  }
  .cid-sPTSDEGlwa .navbar.opened {
    height: auto;
  }
  .cid-sPTSDEGlwa .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sPTSDEGlwa .navbar-nav .nav-link {
  position: relative;
  padding: 0 !important;
  margin: 0.667em 1.25rem !important;
  font-weight: 500;
}
.cid-sPTSDEGlwa .nav-link:hover:before {
  transform: scaleX(1);
  transform-origin: left center;
}
.cid-sPTSDEGlwa .nav-link:before {
  content: '';
  position: absolute;
  color: #0057fc;
  left: 0;
  top: 100%;
  width: 100%;
  border-top-width: .143em;
  border-top-style: solid;
  transform: scaleX(0);
  transform-origin: right center;
  transition: transform 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.cid-sPTSFSq88R {
  background-color: #1a1a1a;
}
@media (min-width: 768px) {
  .cid-sPTSFSq88R {
    background-image: url("../../../assets/images/pexels-anush-gorak-1229356.jpg");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 50% auto;
  }
}
.cid-sPTSFSq88R .row {
  align-items: center;
}
.cid-sPTSFSq88R .image-wrapper {
  padding: 1rem;
}
.cid-sPTSFSq88R .col-text {
  position: relative;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
@media (min-width: 992px) {
  .cid-sPTSFSq88R .col-text:after {
    content: '';
    position: absolute;
    top: 0;
    right: -90px;
    bottom: 0;
    background: radial-gradient(circle at 224% 25%, rgba(255, 255, 255, 0) 67%, rgba(255, 255, 255, 0) 50%, #1a1a1a 50%, #1a1a1a 100%);
    background-size: 200% 200%;
    height: 100%;
    width: 200px;
    z-index: 1;
  }
}
.cid-sPTSFSq88R .text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 2;
}
@media (min-width: 992px) {
  .cid-sPTSFSq88R .text-wrapper {
    max-width: 400px;
  }
}
.cid-sPTSFSq88R .label-text {
  width: 100%;
  color: #ffffff;
}
.cid-sPTSFSq88R .mbr-section-title {
  margin-bottom: 1.425rem;
  width: 100%;
  color: #ffffff;
  text-align: left;
}
.cid-sPTSFSq88R .mbr-text {
  color: #ffffff;
  width: 100%;
  margin-bottom: 12px;
}
.cid-sPTSFSq88R .btn-container {
  width: 100%;
}
.cid-sPTSFSq88R .mbr-section-btn {
  margin-top: 10px;
}
@media (max-width: 575px) {
  .cid-sPTSFSq88R .mbr-section-btn {
    display: flex;
    flex-wrap: wrap;
  }
  .cid-sPTSFSq88R .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-sPTSFSq88R .btn-white-outline {
  border: 1px solid currentColor;
}
.cid-sPTSFSq88R .btn-white-outline:hover {
  color: #0057fc !important;
  background: #ffffff !important;
}
.cid-sPTT6KlDDA {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-sPTT6KlDDA img,
.cid-sPTT6KlDDA .item-img {
  width: 100%;
}
.cid-sPTT6KlDDA .item:focus,
.cid-sPTT6KlDDA span:focus {
  outline: none;
}
.cid-sPTT6KlDDA .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-sPTT6KlDDA .item-wrapper {
  position: relative;
  background: #649afc;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-sPTT6KlDDA .item-content {
  padding: 25px 1rem 0;
}
.cid-sPTT6KlDDA .item-content a:not(.btn):hover {
  color: #0057fc !important;
  background-image: none !important;
}
.cid-sPTT6KlDDA .item-wrapper {
  background: transparent;
}
.cid-sPTT6KlDDA .item-content {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.cid-sPTT6KlDDA .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sPTT6KlDDA .mbr-section-title,
.cid-sPTT6KlDDA .mbr-section-subtitle {
  color: #111111;
}
.cid-sPTT6KlDDA .mbr-text,
.cid-sPTT6KlDDA .mbr-section-btn {
  text-align: left;
}
.cid-sPTT6KlDDA .item-title {
  text-align: center;
}
.cid-sPTT6KlDDA .item-subtitle {
  text-align: center;
}
.cid-sPTT6KlDDA .item-img {
  overflow: hidden;
}
.cid-sPTT6KlDDA .item-img img {
  width: 100%;
  transform: scale3d(1, 1, 1);
  transform-style: preserve-3d;
  transition: 1s;
}
.cid-sPTT6KlDDA .item-img:hover img {
  transform: scale3d(1.1, 1.1, 1.1) translateZ(0);
}
.cid-sPTT6KlDDA .mbr-section-head {
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .cid-sPTT6KlDDA .mbr-section-head {
    margin-bottom: 60px;
  }
}
.cid-sPTTzYjipG {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sPTTzYjipG img,
.cid-sPTTzYjipG .item-img {
  width: 100%;
}
.cid-sPTTzYjipG .item:focus,
.cid-sPTTzYjipG span:focus {
  outline: none;
}
.cid-sPTTzYjipG .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-sPTTzYjipG .item-wrapper {
  position: relative;
  background: #649afc;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-sPTTzYjipG .item-content {
  padding: 25px 1rem 0;
}
.cid-sPTTzYjipG .item-content a:not(.btn):hover {
  color: #0057fc !important;
  background-image: none !important;
}
.cid-sPTTzYjipG .item-wrapper {
  background: transparent;
}
.cid-sPTTzYjipG .item-content {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.cid-sPTTzYjipG .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sPTTzYjipG .mbr-section-title,
.cid-sPTTzYjipG .mbr-section-subtitle {
  color: #111111;
}
.cid-sPTTzYjipG .mbr-text,
.cid-sPTTzYjipG .mbr-section-btn {
  text-align: center;
}
.cid-sPTTzYjipG .item-title {
  text-align: center;
}
.cid-sPTTzYjipG .item-subtitle {
  text-align: center;
}
.cid-sPTTzYjipG .item-img {
  overflow: hidden;
}
.cid-sPTTzYjipG .item-img img {
  width: 100%;
  transform: scale3d(1, 1, 1);
  transform-style: preserve-3d;
  transition: 1s;
}
.cid-sPTTzYjipG .item-img:hover img {
  transform: scale3d(1.1, 1.1, 1.1) translateZ(0);
}
.cid-sPTTzYjipG .mbr-section-head {
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .cid-sPTTzYjipG .mbr-section-head {
    margin-bottom: 60px;
  }
}
.cid-sPTTzYjipG .mbr-section-title {
  color: #555555;
}
.cid-sPTTAwjTBW {
  padding-top: 0rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sPTTAwjTBW img,
.cid-sPTTAwjTBW .item-img {
  width: 100%;
}
.cid-sPTTAwjTBW .item:focus,
.cid-sPTTAwjTBW span:focus {
  outline: none;
}
.cid-sPTTAwjTBW .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-sPTTAwjTBW .item-wrapper {
  position: relative;
  background: #649afc;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-sPTTAwjTBW .item-content {
  padding: 25px 1rem 0;
}
.cid-sPTTAwjTBW .item-content a:not(.btn):hover {
  color: #0057fc !important;
  background-image: none !important;
}
.cid-sPTTAwjTBW .item-wrapper {
  background: transparent;
}
.cid-sPTTAwjTBW .item-content {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.cid-sPTTAwjTBW .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sPTTAwjTBW .mbr-section-title,
.cid-sPTTAwjTBW .mbr-section-subtitle {
  color: #111111;
}
.cid-sPTTAwjTBW .mbr-text,
.cid-sPTTAwjTBW .mbr-section-btn {
  text-align: center;
}
.cid-sPTTAwjTBW .item-title {
  text-align: center;
}
.cid-sPTTAwjTBW .item-subtitle {
  text-align: center;
}
.cid-sPTTAwjTBW .item-img {
  overflow: hidden;
}
.cid-sPTTAwjTBW .item-img img {
  width: 100%;
  transform: scale3d(1, 1, 1);
  transform-style: preserve-3d;
  transition: 1s;
}
.cid-sPTTAwjTBW .item-img:hover img {
  transform: scale3d(1.1, 1.1, 1.1) translateZ(0);
}
.cid-sPTTAwjTBW .mbr-section-head {
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .cid-sPTTAwjTBW .mbr-section-head {
    margin-bottom: 60px;
  }
}
.cid-sPTUuoPoG6 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/pexels-andrea-piacquadio-868483.jpg");
}
.cid-sPTUuoPoG6 .mbr-media {
  position: relative;
  width: 100%;
  display: flex;
}
.cid-sPTUuoPoG6 .mbr-media img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.cid-sPTUuoPoG6 .mbr-media span {
  font-size: 4rem;
  transition: all 0.2s;
}
.cid-sPTUuoPoG6 .icon-wrap {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background: #ffffff;
  padding: 10px;
  display: flex;
  justify-content: center;
  min-width: 65px;
  min-height: 65px;
  border-radius: 50%;
  align-items: center;
}
.cid-sPTUuoPoG6 .icon-wrap a:hover {
  background-image: none !important;
}
.cid-sPTUuoPoG6 .icon-wrap span {
  margin-left: 5px;
}
.cid-sPTUuoPoG6 .box {
  height: 450px;
  display: flex;
}
@media (max-width: 767px) {
  .cid-sPTUuoPoG6 .box {
    height: 200px;
  }
}
.cid-sPTUuoPoG6 .modalWindow {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  background-color: rgba(61, 61, 61, 0.65);
  width: 100%;
  height: 100%;
}
.cid-sPTUuoPoG6 .modalWindow .modalWindow-container {
  display: table-cell;
  vertical-align: middle;
}
.cid-sPTUuoPoG6 .modalWindow .modalWindow-video {
  height: calc(44.9943757vw);
  width: 80vw;
  margin: 0 auto;
}
.cid-sPTUuoPoG6 .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  border: 2px solid #fff;
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-sPTUuoPoG6 .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-sPTUuoPoG6 .col-text {
  display: flex;
  align-items: center;
  padding: 0 90px;
}
@media (max-width: 991px) {
  .cid-sPTUuoPoG6 .col-text {
    padding: 50px 0.75rem 0;
  }
}
.cid-sPTUuoPoG6 .mbr-section-subtitle {
  color: #555555;
  padding-top: 12px;
}
.cid-sPTUuoPoG6 .item-container {
  width: 100%;
}
.cid-sPTUuoPoG6 .item {
  display: flex;
  margin-top: 32px;
  text-align: left;
}
.cid-sPTUuoPoG6 .item:first-child {
  margin-top: 0;
}
@media (max-width: 767px) {
  .cid-sPTUuoPoG6 .item {
    flex-direction: column;
    text-align: center;
  }
}
.cid-sPTUuoPoG6 .icon-box {
  background: #0057fc;
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 24px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .cid-sPTUuoPoG6 .icon-box {
    margin: 0 auto 24px;
  }
}
.cid-sPTUuoPoG6 .text-box {
  flex-grow: 1;
}
.cid-sPTUuoPoG6 .number-text {
  color: #ffffff;
}
.cid-sPTUuoPoG6 .icon-text {
  color: #ffffff;
}
.cid-sPTUuoPoG6 .icon-title {
  color: #ffffff;
}
.cid-sPTV8eDtuW {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sPTV8eDtuW img,
.cid-sPTV8eDtuW .item-img {
  width: 100%;
}
.cid-sPTV8eDtuW .item:focus,
.cid-sPTV8eDtuW span:focus {
  outline: none;
}
.cid-sPTV8eDtuW .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-sPTV8eDtuW .item-wrapper {
  position: relative;
  background: #649afc;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-sPTV8eDtuW .item-content {
  padding: 25px 1rem 0;
}
.cid-sPTV8eDtuW .item-content a:not(.btn):hover {
  color: #0057fc !important;
  background-image: none !important;
}
.cid-sPTV8eDtuW .item-wrapper {
  background: transparent;
}
.cid-sPTV8eDtuW .item-content {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.cid-sPTV8eDtuW .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sPTV8eDtuW .mbr-section-title,
.cid-sPTV8eDtuW .mbr-section-subtitle {
  color: #111111;
}
.cid-sPTV8eDtuW .mbr-text,
.cid-sPTV8eDtuW .mbr-section-btn {
  text-align: left;
}
.cid-sPTV8eDtuW .item-title {
  text-align: left;
}
.cid-sPTV8eDtuW .item-subtitle {
  text-align: center;
}
.cid-sPTV8eDtuW .item-img {
  overflow: hidden;
}
.cid-sPTV8eDtuW .item-img img {
  width: 100%;
  transform: scale3d(1, 1, 1);
  transform-style: preserve-3d;
  transition: 1s;
}
.cid-sPTV8eDtuW .item-img:hover img {
  transform: scale3d(1.1, 1.1, 1.1) translateZ(0);
}
.cid-sPTV8eDtuW .mbr-section-head {
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .cid-sPTV8eDtuW .mbr-section-head {
    margin-bottom: 60px;
  }
}
.cid-sPTVoSNNJG {
  padding-top: 0rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sPTVoSNNJG .mbr-overlay {
  z-index: 1;
}
.cid-sPTVoSNNJG .main-container-text {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto 5rem;
  flex-shrink: 1;
}
@media (max-width: 767px) {
  .cid-sPTVoSNNJG .main-container-text {
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 991px) {
  .cid-sPTVoSNNJG .main-container-text {
    padding: 0 0.75rem;
  }
}
.cid-sPTVoSNNJG .label-text {
  color: #111111;
  width: 100%;
}
.cid-sPTVoSNNJG .item-title {
  width: 100%;
  color: #111111;
  z-index: 2;
}
.cid-sPTVoSNNJG .item-title span {
  position: relative;
  z-index: 2;
}
.cid-sPTVoSNNJG .item-title span:after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #0057fc;
  z-index: 1;
}
.cid-sPTVoSNNJG .main-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
}
.cid-sPTVoSNNJG .row-reverse {
  display: flex;
  flex-direction: row-reverse;
}
.cid-sPTVoSNNJG .card {
  padding: 3px;
}
.cid-sPTVoSNNJG .card-container {
  display: flex;
}
.cid-sPTVoSNNJG .card-container .card {
  border-radius: 0;
}
.cid-sPTVoSNNJG .card-container .card .item-img {
  height: 100%;
}
.cid-sPTVoSNNJG .card-container .card .item-img img {
  height: 100%;
}
.cid-sPTVoSNNJG .cards-container {
  display: flex;
  flex-wrap: wrap;
}
.cid-sPTVoSNNJG .cards-container .card {
  border-radius: 0;
}
.cid-sPTVoSNNJG .cards-container .card .item-img {
  display: flex;
}
.cid-sPGdO9lA5Y {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  overflow: hidden;
}
.cid-sPGdO9lA5Y .mbr-text {
  color: #111111;
}
